@import "config";
@import "mobile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-global;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  color: white;
  margin: 0 25px;
}

.location {
  #muigio {
    font-size: $h1;
  }

  display: flex;
  justify-content: space-around;
  width: 30vh;
  align-items: center;
  p {
    font-size: $span;
  }
}

.trangthai {
  margin-top: 3rem;
  .nhietdo {
    font-size: $h1;
    user-select: none;
    cursor: pointer;
  }
  .mieuta {
    font-size: $h3;
  }
  display: flex;
  text-align: center;
  flex-direction: column;
}

.dubao {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .feature {
    margin: 10px 10px;
    border-radius: 15px;
    padding: 58px 11px;
    text-align: center;
    transition: 0.3s;
    &:hover {
      box-shadow: 0.2px 1.2px 2.8px #000027;
      transform: translate(2px, 2px);
    }
  }
  _b {
    p {
      font-size: $span;
    }
  }
}

img#loading {
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: 2;
}

.mo {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #000027;
  top: 0;
  left: 0;
}